# LangChain Core  
langchain
langchain-core
langchain-community
langchain-experimental

# LangChain Groq (from GitHub — not available on PyPI!)
git+https://github.com/langchain-ai/langchain-groq.git

# Groq API support
groq

# Hugging Face Integration  
langchain-huggingface  
transformers  
huggingface-hub  
sentence-transformers  
faiss-cpu  

# Utilities  
tqdm  
numpy  
scikit-learn  
requests  

# Environment Variable Management  
python-dotenv  

# Streamlit Frontend  
streamlit  

# Document Loaders  
pypdf  
PyPDF2  
beautifulsoup4  

# Vector Stores  
chromadb  
tiktoken  
langchain-chroma  

# Extra tools  
wikipedia  
youtube-transcript-api  

# Jupyter Notebook Support  
ipykernel  
