# LangChain Core  
langchain  
langchain-core
langchain-community
langchain-experimental 

# OpenAI Integration  
langchain-groq  
groq


# Hugging Face Integration  
langchain-huggingface  
transformers  
huggingface-hub  
langchain
faiss-cpu
sentence-transformers
tqdm
numpy


# Environment Variable Management  
python-dotenv  

# Machine Learning Utilities  
numpy  
scikit-learn

#Frontend
streamlit

#Document loader
pypdf
beautifulsoup4

#Vector Stores
chromadb
tiktoken
chroma
langchain-chroma

#ipynb files
ipykernel

#retrievers
wikipedia

youtube_transcript-api
requests
pypdf2


