# LangChain Core  
langchain  
langchain-core
langchain-community
langchain-experimental 

# OpenAI Integration  
langchain-groq  
groq
langchain-OpenAI

# Anthropic Integration  
langchain-anthropic  

# Google Gemini (PaLM) Integration  
langchain-google-genai  
google-generativeai  

# Hugging Face Integration  
langchain-huggingface  
transformers  
huggingface-hub  
langchain
faiss-cpu
sentence-transformers
tqdm
numpy


# Environment Variable Management  
python-dotenv  

# Machine Learning Utilities  
numpy  
scikit-learn

#Frontend
streamlit

#Document loader
pypdf
beautifulsoup4

#Vector Stores
chromadb
tiktoken
chroma
langchain-chroma

#ipynb files
ipykernel

#retrievers
wikipedia

youtube_transcript-api
requests
pypdf2
git+https://github.com/langchain-ai/langchain-groq.git

streamlit==1.32.2
langchain-core==0.1.0
langchain-groq==0.1.3
langchain-community==0.0.29
PyPDF2==3.0.1
sentence-transformers==2.2.2
pydantic==2.6.4
gitpython==3.1.44
